@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    max-width: 80%;
    margin: auto;
}

header{
    display: flex;
    justify-content: space-between;
    padding-left: 37px;
    padding-right: 37px;
}

.company > h2 {
    font-size: 26px;
    font-weight: 500;
}

li, a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.nav_links {
    list-style: none;
    padding-right: 20px;
}

.nav_links > li {
    display: inline-block;
    padding: 12px 20px;
}

.nav_links > li > a {
    transition: all 0.3s ease 0s;
}

.nav_links > li > a:hover {
    color: crimson;
}

.up_floaxbox{
  display: grid;
  grid-template-rows: 150px 150px auto auto 20em;
  grid-template-columns:1fr 1fr 1fr;
  width: 100%;
  position: relative;
}
.pr_bg{
  display: flex;
  align-items: center;
  justify-content: center;
}

.box1{
  grid-column: 1/span 1;
  grid-row: 1/3;
  background-image: linear-gradient(0deg, #AA1D28, rgba(255,0,0,0)),url('../img/Untitled.png');
  background-size: cover;

}
.bk3{
  grid-column: 3/span 1;
  grid-row: 1/3;
  background-image: linear-gradient(0deg, #AA1D28, rgba(255,0,0,0)),url('../img/101263_f.png');
  background-size: cover;
}
.box2{
  grid-column:2/ span 1;
  grid-row: 1/3;
  background: linear-gradient(#B7D12B, rgba(255,0,0,0)),url('../img/potato.png');
  background-size: cover;
}
.btm_box{
  position: relative;

  width: 100%
}
.line_box{
  display:flex;
  justify-content: space-between;
  height: 2em;
  grid-column: 1/4;
  background-color: #772B39;
  opacity: 0.5;
}
.left_arr,.right_arr{
  max-width: 100%;
  max-height: 100%;
  display: block;
  cursor: pointer;
}
.right_arr{
  transform: scaleX(-1);
}
.left_arr:hover{
  transform: scale(1.5);
}
.right_arr:hover{
  transform: scale(-1.5);
}
.product_box{
  grid-row: 2/3;
  z-index: 10;
  margin: 30px;
  display: flex;
  flex-direction: column
}
.buy_btn{
  cursor: pointer;
  margin: auto auto 10px auto;
  padding: 10px;
  border: 5px solid #579A83;
  width: 140px;
  height: 64px;
  background-color: #F9C901;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: capitalize;
}
.buy_btn:hover{
  background-color: crimson;
}
.chart_btn{
  cursor: pointer;
  margin: 0 auto auto auto;
  padding: 10px;
  border: 5px solid #579A83;
  width: 140px;
  height: 64px;
  background-color: #772B39;
  color: white;
  font-size: 16px;
  font-weight: bolder;
  text-transform: capitalize;
}
.chart_btn:hover{
  background-color: #B7D12B;
}
.pr{
  width:auto;
  text-align:center;
  padding:20px;
  max-width:100%;
  height:auto;
  background-size: cover;
}
.b1{
  grid-column: 1;
}

.b2 {
  grid-column: 2;
}
.b3{
  grid-column: 3;
}
.scroll_box{
  background-color: #AA1D28;
  left:40%;
  grid-column: 2;
  grid-row: -1;
  position: relative;
  height: 20px;
  width: 90px;
  bottom: 0;
  display: flex;
  border: 1px solid;
  border-radius:40px;
  align-items: center;
  justify-content: space-between;
}

.ball{
  cursor: pointer;
  background-color: #772B39;
  border: 1px solid;
  border-radius: 50%;
  width: 20px;
  height:20px;
}
.ball:hover{
  background-color: #B7D12B;
}
@media only screen and (max-width:900px){
  body{
    max-width: 100%;
  }
  .up_floaxbox{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .line_box{
    grid-column: 1/3;
  }
  .up_floaxbox .bk3{
    display: none;
  }
  .b2{
    padding: 0;
  }
  .b3{
    display: none;
  }
  .scroll_box{
    display: none;
  }
}
@media only screen and (max-width: 600px) {
  body{
    max-width: 100%;
  }
  .up_floaxbox{
    background-image: linear-gradient(0deg, #AA1D28, rgba(255,0,0,0));
  }
  .arrow{
    height: 120%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;

    }
  .arrow_r,.arrow_l{
    background-image: url("https://icon-library.com/images/60758.svg.svg");
    background-size: cover;
    cursor: pointer;
    z-index: 10;
    opacity: 0.2;
  }
  .arrow_r{
    grid-column: 1;
    transform: scaleX(-1);
  }
  .arrow_l{
    grid-column: 3;
  }
  .arrow_l:hover{
    transform: scale(1.2);
    opacity: 0.5;
  }
  .arrow_r:hover{
    transform: scale(-1.2);
    opacity: 0.5;
  }
  .up_floaxbox{
    display: grid;
    grid-template-columns: 1fr;

  }
  .box1{
    display: none;
  }
  .up_floaxbox .box2{
    display: none;
  }
  .line_box{
    display: none;
  }
  .b1{
    grid-row: 1;
  }
  .pr{
    padding: 0;
    z-index: 9;
  }
  .b2{
    display: none;
  }
  .up_floaxbox .bk3{
    display: none;
  }
  .b3{
    display: none;
  }
  .scroll_box{
    display: none;
  }
}
