@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

.container {
    max-width: 80%;
    margin: auto;
}

.navbar {
    padding-left: 20px;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar > .navbar_nav {
    display: flex;
    list-style: none;
}

.navbar > .navbar_nav > li > a {
    text-decoration: none;
    color: black;
    margin: 2em;
}